#container {
	width:1024px;
	color:#FFF;
	margin: 0 auto;
}
#nav {
	background-color: grey;
	padding: 5px;
	text-align: right;
}
#aside {
	background-color: Orange;
	width: 130px;
	height:640px;
	text-align: center;
	line-height: normal;
	padding: 10px;
	float:left;
}
#section {
	background-color: NavajoWhite;
	width: 800px;
	height: 640px;
	text-align: center;
	line-height: normal;
	padding: 10px;
	float: left;
}
#footer {
	background-color: pink;
	text-align: center;
	padding: 5px;
	clear:both;
}
h1 {
	color: FFF;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
