
	body {
		color:darkblue;
		background-color: lightgreen;
		font-size: 1.5em;
	}
		
	h1 {
		color:white;
		background-color: red;
		text-align: center;
	}

	li:nth-child(even) {
		text-indent: 1em;
		list-style-position: inside;
		color:red;
		list-style-type: square;
	}

